# Entorno virtual
venv/

# Archivos de configuración específicos de la IDE
.idea/
.vscode/

# Archivos pycache
__pycache__/
*.pyc

# Archivos de registro
*.log

# Archivo de base de datos SQLite
*.db

# Archivos de configuración local
instance/

# Carpeta de carga de archivos estáticos
static/uploads/

# Carpeta de registros
logs/

# Archivos de configuración de sistema
.DS_Store

# Archivos de caché
.cache/
